# ==========================
# Build outputs
# ==========================
build/
dist/
*/build/

# ==========================
# Binaries / objects
# ==========================
*.o
*.elf
*.iso
*.bin

# ==========================
# Temp / debug
# ==========================
*.log
*.tmp
status.txt
diff.txt

# ==========================
# Python cache
# ==========================
__pycache__/
*.pyc

# ==========================
# OS / editor
# ==========================
.DS_Store
.vscode/
.idea/